<h1>Add New Meal</h1>

<%= form_for @meal do |m| %>
  <h2><%= m.label :title %></h2>
      <%= m.text_field :title %>

  <h2><%= m.label :img_url %></h2>
      <%= m.text_field :img_url %>

  <h2><%= m.label :main %></h2>
      <%= m.text_field :main %>

  <h2><%= m.label :side %></h2>
      <%= m.text_field :side %>

  <h3><%= m.submit %></h3>

  <% end %>
